[common]
# use ip adress when using proxy for youtube
proxy_host=123.123.23.23
proxy_port=3128

[wikipedia_nl]
module=mediawiki
wiki=nlwiki
setspec=wikipedia_nl
download_path=http://dumps.wikimedia.org/nlwiki/latest/
db_host=localhost
db_user=root
db_passwd=*******
db_name=wikilom
proxy_use=false
work_dir=/opt/Wikipedia

[youtube]
module=youtube
db_host=localhost
db_user=root
db_passwd=*******
db_name=youtubelom
proxy_use=false
developer_key=****
