[common]
# use ip adress when using proxy for youtube
proxy_host=123.123.23.23
proxy_port=3128
db_host=localhost
db_user=root
db_passwd=*******
db_name=mangrove
pusher_class=edurepdelen
pusher_endpoint=https://api.delen.edurep.nl/somedir
pusher_key=****
fs_recordbase=/var/mangrove-records
fs_workbase=/var/mangrove-workdir

[wikipedia_nl]
module=mediawiki
wiki=nlwiki
host=https://nl.wikipedia.org/wiki/
download_path=http://dumps.wikimedia.org/nlwiki/latest/
proxy_use=false
context_static=PO
context_dynamic=0
age_range=8-12
list_prefix=Lijst van

[youtube]
module=youtube
configuration=youtube
proxy_use=false
developer_key=****

[khanacademy]
module=khanacademy
proxy_use=false
developer_key=****
